.task {
  position: relative;
  background-color: ghostwhite;
  border-radius: 2px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  cursor: pointer;
}

.task h6 {
  margin: 0;
  letter-spacing: 1px;
}

.task p {
  margin: 0;
}

.cross {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
  cursor: pointer;
}

.cross:hover {
  color: darkred;
}

.cross:active {
  transform: scale(0.95);
}
